<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a class="nav-item nav-link" routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Member Details</a>
      <a class="nav-item nav-link" routerLink="/expense" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Expenses</a>
      <a class="nav-item nav-link" routerLink="/chart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Chart</a>
      <a class="nav-item nav-link" routerLink="/reactiveForm" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Reactive Form</a>
      <a class="nav-item nav-link" routerLink="/pipes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Pipes</a>
      <a class="nav-item nav-link" routerLink="/http-ex" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Http example</a>
      <a class="nav-item nav-link" routerLink="/auth" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login/SignUp</a>
    </div>
  </div>
</nav>
